{% include 'header.html' %}

<style>
  p, span {
      font-family: poppins, sans-serif !important;
  }
</style>

<main class="main bubble-bg">
  <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{
      "nav": true,
      "dots": true,
      "loop": true,
      "autoplay": true,
      "autoplayTimeout": 3000
  }'>
  {% for banner in banners %}
    <div class="intro-slide" style="background-image: url('/static/images/banner/{{ banner[2] }}');">
        <!-- content of intro-slide -->
    </div>
  {% endfor %}
      <span class="slider-loader text-white"></span>
  </div>

  <section style="background: #222">
      <div class="container service" style="height: fit-content;">
          <div class="owl-carousel owl-simple" data-toggle="owl"
              data-owl-options='{
                  "dots": false,
                  "nav": false,
                  "margin": 20,
                  "mouseDrag": false,
                  "touchDrag": true,
                  "responsive": {
                      "0": {
                          "items": 1
                      },
                      "375": {
                          "items": 1
                      },
                      "676": {
                          "items": 1
                      },
                      "768": {
                          "items": 3
                      },
                      "992": {
                          "items": 4
                      }
                  }
              }'>
              <div class="icon-box icon-box-side text-white">
                  <span class="icon-box-icon text-white">
                      <i class="fa fa-shield"></i>
                  </span>
                  <div class="icon-box-content">
                      <h3 class="icon-box-title text-white">Easy &amp; Secure Payments</h3>
                      <p>Pay easily Using UPI, Paypal or Netbanking</p>
                  </div>
              </div>
              <!-- other icon boxes -->
          </div>
      </div>
  </section>

  {% for cat in categories %}
  {% if cat.description %}
  <section class="sound-section"  style="background-image: url('/static/images/banner/{{ cat.bg_image }}');">
      <div class="container">
          <div class="banner row d-flex">
              <div class="col-lg-6 mt-4 mb-4 mt-lg-0 d-flex d-lg-block justify-content-center {% if loop.index % 2 == 0 %} order-first {% else %} order-last {% endif %}">
                  {% if cat.image %}
                  <figure class="banner-img">
                      <img src="{{ url_for('static', filename='images/cat_image/' + cat.image) }}" width="579">
                  </figure>
                  {% endif %}
              </div>
              <div class="col-lg-6 mt-2 mt-lg-0 {% if loop.index % 2 == 0 %} order-last {% else %} order-first {% endif %}">
                  <div class="banner-content">
                      <h2 class="banner-title">{{ cat.name }}</h2>
                      <p class="banner-text text-justify">{!! cat.description !!}</p>
                      <a href="{{ url_for('templates', id=cat.id) }}" class="btn btn-primary mt-3"> <span>Explore More</span><i class="icon-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  {% endif %}
  {% endfor %}

  <!-- Other sections -->

  <section class="cta-newsletter text-center pb-3" style="background-image: url('/static/images/frontend_images/animation_artox.gif'); background-size: cover">
     
     <div class="container-fluid">
          <span class="cta-icon"><i class="icon-envelope"></i></span>
          <h3 class="title">Subscribe To Our Newsletter</h3>
          <p class="title-desc" style="color: #000">Learn about new offers and get more deals by joining our newsletter</p>
          <form action="/sub_emails" method="post">
              <div class="input-group">
                
                  <input type="email" class="form-control" placeholder="Enter Email Address" aria-label="Email Adress" aria-describedby="newsletter-btn" name="email" required />
                  <div class="input-group-append">
                      <button class="btn btn-primary" type="submit" id="newsletter-btn"><span>SUBSCRIBE</span><i class="icon-long-arrow-right"></i></button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</main>

{% include 'footer.html' %}